.goTop{
    position: fixed;
    bottom: 100px;
    right: 60px;
    width: 30px;
    color: $orange;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    opacity: 0;
    transition: all .3s;
    &.show{
        opacity: 1
    }
    @include pad_pro{
      right: 40px;
    }
    @include pad{
      right: 30px;
    }
    @include phone{
      bottom: 20px;
      right: 15px;
    }
  }