#header {
  header {
    background-image: url("https://upload.cc/i1/2021/03/03/yP9rmZ.png");
    background-position: 50% 40%;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #ccc;
    h1 {
      font-weight: normal;
      margin-top: 140px;
      font-size: 40px;
      letter-spacing: 2px;
      color: #fff;
    }
    select {
      margin-top: 50px;
      font-size: 20px;
      width: 300px;
      letter-spacing: 2px;
      border-radius: 5px;
      padding: 10px;
      border: 0;
      color: $orange;
      background: rgba(255,255,255,.8);
      border: 1px solid #ccc;
      text-align: center;
      text-align-last: center;
      outline: none;
    }
  }
}
